<div ng-include="'components/shared/sidenav/sidenav.html'"></div>
<md-content layout="column" style="height: inherit" layout-align="center center">
    <p ng-bind="cMngCtrl.title"></p>

    <md-button ng-click="cMngCtrl.getItems();">Items from all components</md-button>

    <md-content layout="column">
        <md-list-item ng-repeat="item in cMngCtrl.items.comp1">
            <p>id: {{ item._id }} |</p>
            <p> name: {{ item.name }}</p>
        </md-list-item>
    </md-content>

    <md-content layout="column">
        <md-list-item ng-repeat="item in cMngCtrl.items.comp2">
            <p>id: {{ item._id }} |</p>
            <p> name: {{ item.name }}</p>
        </md-list-item>
    </md-content>


</md-content>