.idea/
*.xml
*.iml
*.iws
logs
*.log
npm-debug.log*

./client-web/.idea/
./client-web/*.xml
./client-web/node_modules/
./client-web/*.iml
./client-web/*.iws
./client-web/.sass-cache/

./server/.idea/
./server/*.xml
./server/node_modules/
./server/*.iml
./server/*.iws
./server/logs
./server/*.log
./server/npm-debug.log*
./server/.grunt
./server/.npm
./server/coverage
