<div ng-include="'components/shared/sidenav/sidenav.html'"></div>
<md-content layout="column" style="height: inherit" layout-align="center center">

    <md-content layout="column">
        <md-list>
            <md-subheader>Component 1' items</md-subheader>
            <md-list-item ng-repeat="item in c1Ctrl.items">
                <p> name: {{ item.name }} | </p>
                <i class="material-icons" ng-click="c1Ctrl.doExtraAction($event, item._id)">info_outline</i>
                <i class="material-icons" ng-click="c1Ctrl.deleteItem(item._id)">delete_forever</i>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="c1Ctrl.getItems();">Retrieve Items</md-button>

    <md-content>
        <ui-view></ui-view>
    </md-content>

</md-content>